/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding: var(--padding);
  min-height: 668px;
  height: 100vh;
  align-items: center;
}

.header__theme-menu {
  margin-block-start: 55px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: var(--header-button-bg-color);
  color: var(--button-text-color);
  border: none;
  min-width: 70px;
  min-height: 26px;
  text-transform: lowercase;
  font-family: var(--font-setting, sans-serif);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border);
  pointer-events: none;
}

.title {
  margin-block-start: 55px;
  margin-block-end: 55px;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-info {
  margin-block-end: 55px;
}

.header-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title-color);
}

.title-decor {
  background-color: var(--subtitle-bg-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--border);
  border-inline-end: 1px solid var(--border);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--border);
  border-inline-start: 1px solid var(--border);
}

.decor {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: var(--font-setting, sans-serif);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--accent-color);
}

.decor::after {
  content: "";
  align-self: center;
  display: block;
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px #FF0070;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.content {
  display: grid;
  gap: 50px;
  padding: var(--padding);
}

.section {
  display: grid;
  gap: 20px;
}

.introduction {
  margin-block-start: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--subtitle-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title-color);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.advice_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title-color);
}

.recommendation-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title-color);
}

.gallery {
  gap: 10px;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title-color);
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  position: relative;
  min-height: 668px;
  height: 100vh;
  align-items: center;
  text-align: center;
  margin-block-start: 30px;
}

.footer-title {
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-button);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border);
  outline: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.link:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}

@media (width >=768px) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: relative;
    inset-inline-start: calc(-1* var(--padding));
  }

  .header-info {
    inline-size: 50%;
    justify-self: end;
    margin-block-start: 0;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decor {
    top: 20px;
    right: 29px;
  }

  .content {
    gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .introduction {
    margin-block-start: 40px;
  }

  .reasons {
    grid-template-rows: min-content 1fr;
  }

  .reasons .section-title {
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / 2;
  }

  .reasons .list {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .recommendations .section-title {
    grid-row: 1 / span 2;
  }

  .gallery-title {
    grid-area: title;
  }

  .sunset-image {
    grid-area: sunset;
  }

  .ice-cream-image {
    grid-area: ice;
  }

  .tape-image {
    grid-area: tape;
  }

  .book-image {
    grid-area: book;
  }

  .street-image {
    grid-area: street;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "title title title"
      "sunset sunset ice"
      "tape book ice"
      "tape street street";
  }

  .footer {
    margin-block-start: 40px;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >=1024px) {
  .reasons .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    margin-block-start: 0;
    justify-self: center;
    align-self: start;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: url(../images/cover-image-light.png);
    --subtitle-bg-color: #FF8DCB;
    --header-button-bg-color: transparent;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --section-title-color: #353430;
    --subtitle-color: #353430;
    --button-text-color: #353430;
    --font-setting: "IBM Plex Mono", sans-serif;
    --accent-color: #FF8DCB;
    --border: #353430;
    --border-hover-button: rgba(50, 49, 45, 0.4);
  }

  .decor {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: url(../images/cover-image-dark.png);
    --subtitle-bg-color: #FF0070;
    --header-button-bg-color: transparent;
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --section-title-color: #000028;
    --subtitle-color: #FF0070;
    --button-text-color: #FF0070;
    --font-setting: "IBM Plex Mono", sans-serif;
    --accent-color: #FF0070;
    --border: #FF0070;
    --border-hover-button: rgba(255, 0, 112, 0.4);
  }

  .decor {
    display: flex;
  }
}