/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: url(../images/cover-image-dark.png);
  --subtitle-bg-color: #FF0070;
  --header-button-bg-color: transparent;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --section-title-color: #000028;
  --subtitle-color: #FF0070;
  --button-text-color: #FF0070;
  --font-setting: "IBM Plex Mono", sans-serif;
  --accent-color: #FF0070;
  --border-button: #FF0070;
  --padding: 10px;
}
